:root{
    --memon-theme-color: black;
    --color : #33383c94;
}

body{
    background-color: var(--memon-theme-color);
    /* width: 100%; */
}
.card-group a{
    all: unset;
}
.card-group a:hover{
    all: unset;
    cursor: pointer;
}

.mylogo{
    display: inline-block;
    /* width: fit-content; */
}

.ott-logo ul li{
    all:unset;
    margin:0px;
}

ul li{
    all:unset;
    display: inline-block;
}

.ott-logo ul li img{
    border-radius:20px;
    width: 40px;
    margin: 10px;
    /* padding: 10px; */

}

.ott-logo ul{
    margin-bottom: 0px;
}

.ott-logo ul li:hover{
    cursor: pointer;
}

.text-dark{
   color:  rgba(255,255,255,.5) !important;
}

.ott-background{
    background-color: var(--color);
}

.search-input{
    background-color: var(--color);
}

.butt1 {
    background: linear-gradient(to bottom, #b5c3ed 18%, #06f7f7 100%);
    border-radius: 10px;
    min-width: 30px;
    cursor: pointer ;
    color: #5c5c5c;
    margin: 5px -3px 4px 7px;
    padding: 10px;
    font-size: 14px;
}

.card-body{
    background-color: var(--memon-theme-color) !important;
    color: white;
}

.butt1:hover{
    background: black;
    color: white;
    /* border: 1px solid white; */
}

.card{
    border: unset;
}

.container{
    background-color: var(--color);
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.title-color{
    color: white;
}

.movie-detail{
    cursor: pointer;
    /* margin: 0px; */
    
}

.typed-category ul, .ott-logo ul{
    margin: 0%;
    padding: 0%;
}

#exampleModal {
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.trailervideo iframe{
    /* height: 80%; */
}

.modal-content{
    background-color: black;
    color: white;
}

.modal-header{
    border-bottom: 0px;
}

.modal-body{
    padding: 0;
}

.modal-footer{
    border-top: 0px;
    padding: 5px;
}
.modal{
    background-color: #afbdc796;
    /* opacity: 0.5; */
}

#count, #next{
    border: 2px solid red;
}

#count, #next:hover{

background-color: redcd;
}

.footer{
    color: white;
}

@media only screen and (max-width: 600px) {

    .ott-logo ul li img{
        border-radius:20px;
        width: 40px;
        margin: 0px;
        margin : 10px 0px
    }

.inputwidth{
    display: block;
    width: 50%;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-inline{
    justify-content: right;
    width: fit-content;
    position: absolute;
    right: 0%;
    top: -1%;
}

.movie-detail{
    padding: 5px;
}
}

